{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatable" content="IE-edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        
        <title>Hold</title>
    </head>
    <body>
        <form class="" action="/event/" method="post">
            {% csrf_token %}
            {{ event }}
            <input class="" type="submit">
        </form>

        <h2>Events</h2>
        <ul>
            {% for e in text %}
            <li>{{ e.title }} — until {{ e.until_event }} days</li>
            <a href="{% url 'delete' e.id %}" class="">Delete</a>
            {% empty %}
            <li>No events yet.</li>
            {% endfor %}
        </ul>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>