{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatable" content="IE-edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        
        <title>Hold</title>
    </head>
    <body>
        <form class="" action="/event/" method="post">
            {% csrf_token %}
            {{ event }}
            <input class="" type="submit">
        </form>

        {% block content %}
        
        {% endblock content %}
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>